<ion-card class="ion-activatable ripple-parent circle">
  <ion-card-content class="ion-no-padding">
    <img src="./assets/img/propriedade-card-lg.jpg" />
    <ion-item>
      <ion-icon name="information-circle-outline"
                slot="start"
                class="icon-list"></ion-icon>
      <ion-label class="ion-padding-end">
        <p>{{ data?.produtor }}</p>
        <p>{{ data?.propriedade }}</p>
        <p>{{ data?.municipio }}</p>
        <p>{{ data?.raca }}</p>
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-icon name="calendar"
                slot="start"
                class="icon-list"></ion-icon>
      <ion-label class="ion-padding-end">
        <p>Modificado em: {{data?.lastModified | date:'dd/MM/yyyy' }}</p>
      </ion-label>
    </ion-item>
  </ion-card-content>
  <ion-ripple-effect></ion-ripple-effect>
</ion-card>
