.section {
  --padding-start: 0;
  --inner-padding-end: 0;

  .section-title {
    font-size: 17px;
    color: #000000;
    font-weight: 300;
    line-height: 22px;
    margin: 0;
  }

  a {
    text-decoration: none;
    font-weight: 300;
    font-size: 13px;
    line-height: 22px;
    color: #6979f8;
    margin: 0;
  }
}
