<ion-header class="ion-no-border">
    <ion-grid class="ion-no-padding ion-no-margin header">
        <ion-row>
            <ion-col class="header-container">
                <ion-header class="ion-no-border">
                    <ion-toolbar>
                        <ion-title>
                            <img height="45px"
                                 src="assets/img/siapec-name.png">
                        </ion-title>
                        <ion-buttons class="ion-activatable ripple-parent circle"
                                     slot="end">
                            <ion-ripple-effect></ion-ripple-effect>
                            <ion-icon slot="icon-only"
                                      name="ellipsis-vertical-outline"
                                      routerLink="/settings"></ion-icon>
                        </ion-buttons>
                    </ion-toolbar>
                </ion-header>
            </ion-col>
        </ion-row>
        <ion-row class="ion-padding">
            <ion-col class="ion-padding-vertical">
                <ion-searchbar #ionSearchbar animated class="ion-no-padding"
                               [brmasker]="{person: true}"
                               type="tel"
                               (keyup.enter)="keyUpEnter(ionSearchbar.value)"></ion-searchbar>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-header>
<ion-content [fullscreen]="true" class="ion-padding-vertical">
    <ion-grid class="ion-no-padding">
        <ion-row class="ion-no-padding">
            <ion-col  *ngFor="let item of items" class="ion-no-padding">
                <sm-propriedade-card-lg [data]="item"></sm-propriedade-card-lg>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
