<ion-header class="ion-no-border ">
    <ion-grid class="ion-no-padding ion-no-margin header">
        <ion-row>
            <ion-col class="header-container">
                <ion-header class="ion-no-border">
                    <ion-toolbar>
                        <ion-title>
                            <img height="45px"
                                 src="../../../../assets/img/siapec-name.png">
                        </ion-title>
                        <ion-buttons class="ion-activatable ripple-parent circle"
                                     slot="end">
                            <ion-ripple-effect></ion-ripple-effect>
                            <ion-icon slot="icon-only"
                                      name="ellipsis-vertical-outline"
                                      routerLink="/settings"></ion-icon>
                        </ion-buttons>
                    </ion-toolbar>
                </ion-header>
            </ion-col>
        </ion-row>
        <ion-row class="ion-padding">
            <ion-col class="ion-padding-vertical">
                <ion-searchbar #ionSearchbar animated class="ion-no-padding"
                               type="text"
                               (keyup.enter)="keyUpEnter(ionSearchbar.value)"></ion-searchbar>
            </ion-col>
        </ion-row>

    </ion-grid>

    <sm-propriedade-card-md [data]="exploracaoPecuariaEquideo"></sm-propriedade-card-md>

</ion-header>
<ion-content [fullscreen]="true" class="ion-padding-horizontal">
    <ion-grid>
        <ion-row class="ion-no-padding">
            <ion-col size="12" *ngFor="let item of $equinos | async" class="ion-no-padding">
                <sm-equino-card-lg [data]="item"
                                   (onEditClick)="edit(item.id)"
                                   (onDeleteClick)="delete(item.id)"></sm-equino-card-lg>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="$equinos | async as equinos">
            <ng-container *ngIf="equinos.length==0">
                <app-empty-state [item]="empty"></app-empty-state>
            </ng-container>
        </ion-row>
    </ion-grid>
    <ion-fab vertical="bottom"
             horizontal="end"
             slot="fixed">
        <ion-fab-button (click)="create()">
            <ion-icon name="add-outline"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
