ion-content {
  --background: #151522;
}

.section {
  --padding-start: 0;
  --inner-padding-end: 0;
  --background: none;

  h5 {
    font-size: 17px;
    color: #ffffff;
    font-weight: 500;
    line-height: 22px;
    margin: 0;
  }
}


.background-opts {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 300px;
  background-color: #151522;
}

.title-container {
  background: rgb(21,21,34);
  background: -moz-linear-gradient(0deg, rgba(21,21,34,1) 10%, rgba(21,21,34,0) 100%);
  background: -webkit-linear-gradient(0deg, rgba(21,21,34,1) 10%, rgba(21,21,34,0) 100%);
  background: linear-gradient(0deg, rgba(21,21,34,1) 10%, rgba(21,21,34,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#151522",endColorstr="#151522",GradientType=1);
}

ion-header ion-toolbar {
  --background: transparent;
}

.header-user_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 300px;

  p,
  h1 {
    color: #ffffff !important;
    text-shadow: 0px 16px 24px rgba(50, 50, 71, 0.08),
      0px 12px 12px rgba(50, 50, 71, 0.08);
  }

  p {
    font-weight: 300;
    font-size: 12px;
    text-transform: uppercase;
  }

  h1 {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 0;
  }
}
