<ion-content [fullscreen]="true" class="background-opts" [ngStyle]="background">
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-buttons slot="start">
<!--        <ion-menu-button></ion-menu-button>-->
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <div class="container">
    <ion-grid class="ion-padding-horizontal">
      <ion-row class="ion-padding-vertical">
        <ion-col size="9" class="ion-padding-vertical">
          <h1 class="title">Verificação</h1>
          <ion-text class="mb"
            >Verificação de usuário refente ao estado selecionado</ion-text
          >
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid class="ion-padding white">
      <ion-row class="ion-padding-top">
        <ion-col>
          <form [formGroup]="loginForm" (ngSubmit)="signIn()">
            <ion-item lines="none" class="ion-no-padding">
              <ion-label class="input-label"
                         position="stacked">Estado
              </ion-label>
              <ion-select placeholder="Selecione o Estado"
                          formControlName="estado">
                <ng-container *ngFor="let estado of $estadoConfigService">
                  <ion-select-option [value]="estado['ds_estado']">{{estado['ds_estado']}}</ion-select-option>
                </ng-container>
              </ion-select>
            </ion-item>
            <div class="errors-container" *ngIf="loginForm.get('estado').invalid && (loginForm.get('estado').dirty || loginForm.get('estado').touched)">
              <ng-container *ngIf="loginForm.get('estado').errors.required">
                estado é requerido
              </ng-container>
            </div>
            <ion-item lines="none" class="ion-no-padding">
              <ion-label class="input-label" position="stacked"
                >CPF/CNPJ</ion-label
              >
              <ion-input
                type="text"
                name="cpf"
                formControlName="cpfAndCpnj"
                maxlength="18"
                [brmasker]="{person: true}"
              ></ion-input>
            </ion-item>
            <div
              class="errors-container"
              *ngIf="loginForm.get('cpfAndCpnj').invalid && (loginForm.get('cpfAndCpnj').dirty || loginForm.get('cpfAndCpnj').touched)"
            >
              <ng-container *ngIf="loginForm.get('cpfAndCpnj').errors.required"
                >CPF ou CNPJ é requerido</ng-container>
            </div>
            <ion-button
              [disabled]="loginForm.invalid"
              class="action-button"
              expand="block"
              fill="solid"
              type="submit">
              <span>Verificar</span>
            </ion-button>
          </form>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
