ion-content,
ion-header ion-toolbar {
  --background: #ffffff;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}

ion-img {
  margin: 16px auto;
}

h4 {
  font-weight: 600;
  font-size: 17px;
  line-height: 22px;
  text-align: center;
  color: var(--ion-color-dark);
}

p {
  font-weight: normal;
  font-size: 13px;
  line-height: 22px;
  text-align: center;
  color: var(--ion-color-dark);
}

ion-fab-button {
  --ion-color-base: #fff !important;
  --box-shadow: none !important;
  --color: var(--ion-color-primary);
}

.action-button {
  --border-radius: 6px;
  --box-shadow: none !important;
  min-height: 48px;

  span {
    font-weight: 400;
    font-size: 15px;
    text-transform: initial;
  }

  .button-text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 8px;
    color: #ffffff;

    ion-icon {
      font-size: 30px;
      color: #ffffff;
    }
  }
}

@media (max-device-height: 640px), handheld and (orientation: portrait) {

  h4 {
    font-size: 15px;
    margin: 8px 0 6px;
  }

  p {
    font-size: 13px;
    margin-top: 0;
  }
}

ion-button {
  --background: #41A364;
  --background-hover: #41A364;
  --background-activated: #41A364;
  --background-focused: #41A364;
  --border-color: #41A364;
}
