<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Latest Stories</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="ellipsis-vertical-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding-horizontal">
  <ion-grid>
    <ion-row>
      <ion-col class="ion-no-padding">
        <ion-item lines="none" class="section">
          <ion-text color="dark">
            <h5 class="section-title">Latest Stories</h5>
          </ion-text>
          <a slot="end" [routerLink]="[]">See All</a>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col
        size-sm="12"
        size-md="6"
        size-lg="4"
        size-lg="4"
        *ngFor="let item of stories"
      >
        <app-story-card [image]="item.image" [avatar]="item.avatar" 
        [name]="item.name" 
        [date]="item.date | humanizeDate"></app-story-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col
        size-sm="12"
        size-md="6"
        size-lg="4"
        size-lg="4"
        *ngFor="let item of feeds"
      >
        <app-feed-card-three
          [avatar]="item.avatar"
          [avatars]="item.avatars"
          [name]="item.name"
          [date]="item.date | humanizeDate"
          [text]="item.text"
          [image]="item.image"
          [likes]="item.likes"
          [separator]="true"
        >
        </app-feed-card-three>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
