<ion-card class="ion-no-margin">
  <ion-card-title>
    <ion-item lines="none" class="ion-no-padding">
      <ion-avatar slot="start">
        <img
          [src]="avatar"
        />
      </ion-avatar>
      <ion-label>
        <h2 class="item-title">{{ name }}</h2>
        <p class="item-subtitle">{{ date }}</p>
      </ion-label>
      <ion-button
        slot="end"
        fill="clear"
        size="small"
        shape="round"
        color="primary"
      >
        <ion-icon
          slot="icon-only"
          name="ellipsis-horizontal-outline"
        ></ion-icon>
      </ion-button>
    </ion-item>
  </ion-card-title>
  <ion-card-content class="ion-no-padding">
    <p *ngIf="text">{{ text }}</p>
    <img
      [src]="image"
    />
    <div class="card-footer">
      <div class="icon-container">
        <ul>
          <li>
            <ion-item lines="none">
              <ion-icon color="danger" name="heart-outline"></ion-icon>
              <ion-label>{{ likes }}</ion-label>
            </ion-item>
          </li>
          <li>
            <ion-item lines="none">
              <ion-icon color="medium" name="chatbubble-outline"></ion-icon>
              <ion-label>{{ comments }}</ion-label>
            </ion-item>
          </li>
        </ul>
      </div>
      <ion-button
        slot="end"
        fill="clear"
        size="small"
        shape="round"
        color="primary"
      >
        <ion-icon slot="icon-only" name="share-social-outline"></ion-icon>
      </ion-button>
    </div>
  </ion-card-content>
</ion-card>
<div *ngIf="separator" class="separator ion-margin-vertical"></div>