<ion-content [fullscreen]="true" class="background-opts" [ngStyle]="background">
	<ion-header class="ion-no-border">
		<ion-toolbar>
			<ion-buttons slot="start">
				<ion-menu-button></ion-menu-button>
			</ion-buttons>
		</ion-toolbar>
	</ion-header>
	<ion-grid class="ion-padding-horizontal">
		<ion-row class="ion-padding-vertical">
			<ion-col size="9">
				<h1 class="title">Create an account</h1>
				<ion-text class="mb">Create your account and join to our community today.</ion-text>
			</ion-col>
		</ion-row>
		<ion-row class="ion-padding-top">
			<ion-col class="ion-padding-vertical">
				<form [formGroup]="signForm" (ngSubmit)="signUp()">
					<ion-item lines="none" class="ion-no-padding">
						<ion-input placeholder="Full Name" type="text" formControlName="fullName">
						</ion-input>
					</ion-item>
					<div class="errors-container" *ngIf="signForm.get('fullName').invalid && (signForm.get('fullName').dirty || signForm.get('fullName').touched)">
						<ng-container *ngIf="signForm.get('fullName').errors.required">Full Name is required</ng-container>
					</div>

					<ion-item lines="none" class="ion-no-padding">
						<ion-input placeholder="Mobile Phone" type="tel" formControlName="mobile">
						</ion-input>
					</ion-item>
					<div class="errors-container" *ngIf="signForm.get('mobile').invalid && (signForm.get('mobile').dirty || signForm.get('mobile').touched)">		
						<ng-container *ngIf="signForm.get('mobile').errors.required">Mobile is required</ng-container>
					</div>
					
					<ion-item lines="none" class="ion-no-padding">
						<ion-input placeholder="Email Address" type="email" formControlName="email">
						</ion-input>
					</ion-item>
					<div class="errors-container" *ngIf="signForm.get('email').invalid && (signForm.get('email').dirty || signForm.get('email').touched)">
						<ng-container *ngIf="signForm.get('email').errors.required">Email is required</ng-container>
						<ng-container *ngIf="signForm.get('email').errors.invalidEmail">Email is invalid</ng-container>
					</div>
					<ion-item lines="none" class="ion-no-padding">
						<ion-input placeholder="Password" type="password"
							formControlName="password"></ion-input>
					</ion-item>
					<div class="errors-container" *ngIf="signForm.get('password').invalid && (signForm.get('password').dirty || signForm.get('password').touched)">
						<ng-container *ngIf="signForm.get('password').errors.required">Password is required</ng-container>
						<ng-container *ngIf="signForm.get('password').errors.invalidPassword">{{signForm.get('password').errors.message}}</ng-container>
					</div>
					
					<ion-button [disabled]="signForm.invalid" class="action-button" expand="block" fill="solid" color="primary" type="submit">
						<span>Get started</span>
					</ion-button>
				</form>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>