<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title></ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon color="dark" slot="icon-only" name="cart-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-grid class="ion-no-padding">
    <ion-row class="ion-no-padding max">
      <ion-col class="ion-no-padding fixed-top">
        <swiper [config]="imageConfig" class="border">
          <ng-template swiperSlide *ngFor="let item of product.images">
            <img src="{{ item.image }}" />
          </ng-template>
        </swiper>
      </ion-col>
    </ion-row>
    <ion-row class="ion-padding">
      <ion-col size="12" class="ion-no-padding">
        <div class="title-container">
          <div class="text-container">
            <span>{{ product.category }}</span>
            <p>{{ product.title }}</p>
          </div>
          <ion-text>{{ product?.price | currency }}</ion-text>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="ion-padding">
      <ion-col class="ion-no-padding">
        <app-dropdown [open]="true" [title]="'Product Detail'">
          <p class="text">
            The iPhone XR display has rounded corners that follow a beautiful 
            curved design, and these corners are within a standard rectangle. 
          </p>
        </app-dropdown>
        <app-dropdown [open]="true" [title]="'Specs'">
          <ion-list>
            <ion-item lines="none" class="spec">
              <ion-icon color="primary" size="" name="phone-portrait-outline"></ion-icon>
              <ion-label>
                6.1-inch (diagonal) all-screen LCD Multi-Touch
              </ion-label>
            </ion-item>
            <ion-item lines="none" class="spec">
              <ion-icon color="primary" size="" name="expand-outline"></ion-icon>
              <ion-label>
                1792-by-828-pixel resolution at 326 ppi
              </ion-label>
            </ion-item>
            <ion-item lines="none" class="spec">
              <ion-icon color="primary" size="" name="aperture-outline"></ion-icon>
              <ion-label>
                1400:1 contrast ratio (typical)
              </ion-label>
            </ion-item>
          </ion-list>
        </app-dropdown>
        <app-dropdown [open]="false" [title]="'Comments'">
          <div>
            <app-article-comment *ngFor="let comment of product?.comments"
            [avatar]="comment.avatar"
            [author]="comment.author"
            [date]="comment.date | humanizeDate"
            [comment]="comment.comment"
            ></app-article-comment>
          </div>
        </app-dropdown>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer class="ion-padding-horizontal ion-no-border">
  <ion-toolbar>
      <ion-button
        class="action-button"
        expand="block"
        fill="solid"
        color="primary"
        type="button"
      >
        <span>Add to Cart</span>
      </ion-button>
      <ion-button
        (click)="favorite()"
        class="fav-btn"
        fill="outline"
        size="small"
        color="primary"
        slot="end"
      >
        <ion-icon
          slot="icon-only"
          [name]="isFavorite ? 'heart' : 'heart-outline'"
        ></ion-icon>
      </ion-button>
  </ion-toolbar>
</ion-footer>
