.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100% - 56px);
}

.ios .container {
  height: calc(100% - 44px) !important;
}

ion-menu-button {
  --color: #ffffff;
}

.background-opts {

  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 0 1000pt rgba(0, 0, 0, 0.3);
  --background: transparent;
}

@keyframes animatedBackground {
  from {
    background-position: 40% 0;
  }
  to {
    background-position: 0 0;
  }
}

ion-button {
  --background: #41A364;
  --background-hover: #41A364;
  --background-activated: #41A364;
  --background-focused: #41A364;
  --border-color: #41A364;
}

ion-header ion-toolbar {
  --background: transparent;
}

h1.title {
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;
  color: #ffffff;
  padding: 0;
  margin-bottom: 16px;
}

ion-text {
  font-weight: 300;
  font-size: 17px;
  line-height: 22px;
  color: #ffffff;
  width: 80%;
}

ion-item {
  --background: transparent;
  --inner-padding-end: 0;

  ion-input {
    border: 1px solid rgba(226, 226, 226, 0.6);
    box-sizing: border-box;
    border-radius: 5px;
    background: #ffffff;
    --padding-start: 16px;
    margin-bottom: 8px;
    min-height: 48px;
  }

  ion-toggle {
    --background: rgba(153, 153, 153, 0.8);
  }
}

.action-button {
  --border-radius: 6px;
  --box-shadow: none !important;
  min-height: 48px;
  box-shadow: 0px 4px 8px rgba(50, 50, 71, 0.06),
  0px 4px 4px rgba(50, 50, 71, 0.08);

  span {
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    text-transform: initial;
  }
}

.mb {
  margin-bottom: 16px;
}

.white {
  background: #ffffff;
  border-radius: 16px 16px 0 0;
}

ion-grid {
  width: 100%;
}

.input-label {
  font-weight: 600;
  color: #151522;
  margin-bottom: 16px;
}

.caption {
  color: #151522;
}

.link {
  text-decoration: none;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
}

.errors-container {
  font-size: 12px;
  font-weight: 500;
  color: var(--ion-color-danger);
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    border: 2px solid rgba(228, 228, 228, 0.6);
  }

  p {
    font-weight: 300;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    color: #666666;
    margin-top: 0;
  }

  h4 {
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    color: #151522;
    margin-bottom: 0;
  }
}
