<ion-app>
	<ion-split-pane contentId="main-content" class="safe-area" when="false">
		<ion-menu contentId="main-content" type="overlay">
			<ion-content>
				<div class="header-item">
					<img src="assets/social.png" alt="" />
					<div class="ion-padding-horizontal">
						<h2>Siapec3 Pe</h2>
						<span>by mobilethemes</span>
					</div>
				</div>

				<div *ngFor="let p of appPages; let i = index">
					<ion-menu-toogle *ngIf="p.url">
						<ion-item lines="none" routerDirection="root" [routerLink]="p.url" routerLinkActive="active"
							(click)="menu.close()">
							<ion-icon slot="start" [name]="p.icon"></ion-icon>
							<ion-label>{{ p.title }}</ion-label>
							<ion-badge *ngIf="p.isNew" slot="end" color="primary">New</ion-badge>
						</ion-item>
					</ion-menu-toogle>

					<ion-item lines="none" button *ngIf="p.children?.length > 0" (click)="toggleSectionMenu(p, i)"
						[class.active-parent]="p.open" detail="false">
						<ion-icon slot="start" [name]="p.icon"></ion-icon>
						<ion-label>{{ p.title }}</ion-label>
						<ion-badge *ngIf="p.isNew" slot="end" color="primary">New</ion-badge>
						<ng-container *ngIf="p.open; else elseTemplate">
							<ion-icon slot="end" size="small" name="chevron-down-outline"></ion-icon>
						</ng-container>
						<ng-template #elseTemplate>
							<ion-icon slot="end" size="small" name="chevron-forward-outline"></ion-icon>
						</ng-template>
					</ion-item>

					<ion-list *ngIf="p.open">
						<ion-menu-toogle>
							<ion-item *ngFor="let item of p.children" lines="none" routerDirection="root"
								[routerLink]="item.url" routerLinkActive="active" class="subitem"
								(click)="menu.close()">
								<ion-label>{{ item.title }}</ion-label>
								<ion-badge *ngIf="item.isNew" slot="end" color="primary">New</ion-badge>
							</ion-item>
						</ion-menu-toogle>
					</ion-list>
				</div>
			</ion-content>
		</ion-menu>
		<ion-router-outlet id="main-content"></ion-router-outlet>
	</ion-split-pane>
</ion-app>
