<ion-header class="ion-no-border">
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
	<ion-grid class="ion-padding-horizontal">
		<ion-row class="ion-padding-bottom">
			<ion-col class="ion-text-center">
				<h1 class="title">Create an account</h1>
				<p class="mb ion-padding-horizontal">
					Create your account and join to our community today.
				</p>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>
				<form [formGroup]="signForm" (ngSubmit)="signIn()">
					<ion-item lines="none" class="ion-no-padding">
						<ion-input placeholder="Full Name" type="text"  formControlName="fullName">
						</ion-input>
					</ion-item>
					<div class="errors-container" *ngIf="signForm.get('fullName').invalid && (signForm.get('fullName').dirty || signForm.get('fullName').touched)">
						<ng-container *ngIf="signForm.get('fullName').errors.required">Full Name is required</ng-container>
					</div>
					
					<ion-item lines="none" class="ion-no-padding">
						<ion-input placeholder="Email Address" type="email" formControlName="email">
						</ion-input>
					</ion-item>
					<div class="errors-container" *ngIf="signForm.get('email').invalid && (signForm.get('email').dirty || signForm.get('email').touched)">
						<ng-container *ngIf="signForm.get('email').errors.required">Email is required</ng-container>
						<ng-container *ngIf="signForm.get('email').errors.invalidEmail">Email is invalid</ng-container>
					</div>
					
					<ion-item lines="none" class="ion-no-padding">
						<ion-input placeholder="Password" type="password"
							formControlName="password"></ion-input>
					</ion-item>
					<div class="errors-container" *ngIf="signForm.get('password').invalid && (signForm.get('password').dirty || signForm.get('password').touched)">
						<ng-container *ngIf="signForm.get('password').errors.required">Password is required</ng-container>
						<ng-container *ngIf="signForm.get('password').errors.invalidPassword">{{ signForm.get('password').errors.message }}</ng-container>
					</div>
					
					<ion-button [disabled]="signForm.invalid" class="action-button ion-margin-top" expand="block" fill="solid" color="primary"
						type="submit">
						<span>Sign In</span>
					</ion-button>
				</form>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col class="ion-text-center ion-padding">
				Or
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>
				<ion-button class="social-button" expand="block" fill="solid" color="facebook">
					<ion-icon name="logo-facebook" class="ion-padding-end"></ion-icon>
					<span>Continue with Facebook</span>
				</ion-button>
				<ion-button class="social-button ion-margin-top" expand="block" fill="solid" color="google">
					<ion-icon name="logo-google" class="ion-padding-end"></ion-icon>
					<span>Continue with Google</span>
				</ion-button>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>