<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Favorites</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding-horizontal">
  <ion-grid>
    <ion-row>
      <ion-col class="ion-no-padding">
        <swiper [config]="itemsConfig">
          <ng-template
            swiperSlide
            *ngFor="let item of items"
            class="swiper-slide"
          >
            <app-product-card-lg [data]="item"></app-product-card-lg>
          </ng-template>
        </swiper>
      </ion-col>
      <ion-col class="ion-padding">
        <div class="swiper-pagination ion-margin-top"></div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
