<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="search-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding-horizontal">
  <ion-grid>
    <ion-row class="ion-no-padding">
      <ion-col class="profile-header">
        <ion-item lines="none">
          <ion-thumbnail slot="start">
            <img
              src="https://images.unsplash.com/photo-1544005313-94ddf0286df2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80"
            />
          </ion-thumbnail>
          <ion-label class="ion-no-margin">
            <h5>Tina Marina</h5>
            <p>I was part of something special. Eventually, you do.</p>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row class="borders">
      <ion-col size="3" class="ion-no-padding">
        <h5>485</h5>
        <p>Followers</p>
      </ion-col>
      <ion-col size="3" class="ion-no-padding">
        <h5>562</h5>
        <p>Following</p>
      </ion-col>
      <ion-col size="6" class="ion-no-padding btn-container">
        <ion-button
          class="action-button"
          expand="block"
          fill="solid"
          color="primary"
        >
          <span>Follow</span>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-no-padding">
        <ion-item lines="none" class="section">
          <ion-text color="dark">
            <h5>Categories</h5>
          </ion-text>
          <a slot="end" [routerLink]="">Show All</a>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <!-- Slides -->
        <swiper [config]="catConfig">
          <ng-template swiperSlide *ngFor="let item of categories;">
            <app-card-category-news
              [image]="item.image"
              [title]="item.name"
              [caption]="item.items"
              [color]="'light'"
            ></app-card-category-news>
          </ng-template>
        </swiper>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-no-padding">
        <ion-item lines="none" class="section">
          <ion-text color="dark">
            <h5>Articles</h5>
          </ion-text>
          <a slot="end" [routerLink]="">Show All</a>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <!-- Slides -->
        <swiper [config]="favConfig">
          <ng-template swiperSlide *ngFor="let item of favorites;">
            <app-card-favorite-news
              [image]="item.image"
              [text]="item.text"
              [color]="'light'"
            ></app-card-favorite-news>
          </ng-template>
        </swiper>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
