ion-item {
  --padding-start: 0;
  --inner-padding-end: 0;

  ion-label {
    font-weight: 300;
    font-size: 15px;
    line-height: 22px;
    color: #151522;
  }
}

ion-list-header {
  font-weight: 600;
  font-size: 17px;
  line-height: 22px;
  color: var(--ion-color-facebook);
}
