<ion-card class="ion-activatable ripple-parent circle">
  <ion-card-content class="ion-no-padding">
    <img src="./assets/img/equino-card.jpg" />
    <div class="overlay">
      <div class="top">
        <div class="badge" *ngIf="data?.badge">Última modificação: 01/11/2022</div>
      </div>
    </div>
    <ion-item>
      <ion-icon name="information-circle-outline"
                slot="start"
                class="icon-list"></ion-icon>
      <ion-label class="ion-padding-end">
        <p>{{ data?.nome }}</p>
        <p>{{ data?.especie }}</p>
        <p>{{ data?.idade }}</p>
        <p>{{ data?.raca }}</p>
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-icon name="calendar"
                slot="start"
                class="icon-list"></ion-icon>
      <ion-label class="ion-padding-end">
        <p>Validade: {{data?.validade | date:'dd/MM/yyyy' }}</p>
        <p>Modificado em: {{data?.validade | date:'dd/MM/yyyy' }}</p>
      </ion-label>
    </ion-item>
  </ion-card-content>
  <ion-ripple-effect></ion-ripple-effect>
</ion-card>
