<ion-card class="ion-activatable ripple-parent circle">
  <ion-card-content class="ion-no-padding">
    <img src="./assets/img/equino-card.jpg"/>
    <div class="overlay">
      <div class="top">
        <ion-buttons slot="end">
          <ion-button fill="clear"
                      size="small"
                      shape="round"
                      color="light"
                      class="small-button"
                      (click)="onEditClick.emit()">
            <ion-icon slot="icon-only" name="pencil-outline"></ion-icon>
          </ion-button>
          <ion-button fill="clear"
                      size="small"
                      shape="round"
                      color="light"
                      class="small-button"
                      (click)="onDeleteClick.emit()">
            <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </div>
    </div>
    <ion-item>
      <ion-icon name="information-circle-outline"
                slot="start"
                class="icon-list"></ion-icon>
      <ion-label class="ion-padding-end">
        <p>{{ data?.dsIdentificacaoAnimal }}</p>
        <p>{{ data?.dsEspecie }}</p>
        <p>{{ data?.dsRaca }}</p>
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-icon name="calendar"
                slot="start"
                class="icon-list"></ion-icon>
      <ion-label class="ion-padding-end">
<!--        <p>Validade: {{data?.validade | date:'dd/MM/yyyy' }}</p>-->
        <p>Modificado em: {{data?.lastModified | date:'dd/MM/yyyy' }}</p>
      </ion-label>
    </ion-item>
  </ion-card-content>
  <ion-ripple-effect></ion-ripple-effect>
</ion-card>
