ion-item {
  --inner-padding-end: 0;
}

p {
  font-size: 13px;
  line-height: 18px;
  white-space: normal;
}

span {
  font-weight: normal;
  font-size: 13px;
  line-height: 12px;
  color: #151522;
}
