ion-searchbar {
    --box-shadow: 0 !important;
    --border-radius: 8px;
    --background: var(--ion-color-light);
    --color: var(--ion-color-medium);
}


.section {
  --padding-start: 0;
  --inner-padding-end: 0;

  h5 {
    margin: 0;
  }
}
