<ion-card class="ion-no-margin">
    <ion-card-content>
        <form [formGroup]="equinoForm">
            <!--CD_ESPECIE-->
            <ion-item lines="none">
                <ion-label position="stacked"
                           class="label-question input-label">Especie
                </ion-label>
                <ion-select formControlName="cdEspecie"
                            placeholder="Selecione a especie">
                    <ng-container *ngFor="let especie of $especie | async">
                        <ion-select-option [value]="especie.id">
                            {{especie.dsEspecie}}
                        </ion-select-option>
                    </ng-container>
                </ion-select>
            </ion-item>
            <!--ID_ANIMAL-->
            <ion-item lines="none">
                <ion-label position="stacked"
                           class="label-question input-label">Identificação Animal
                </ion-label>
                <ion-input type="text"
                           formControlName="dsIdentificacaoAnimal"
                           placeholder="Identificação do animal"
                           class="input-text"></ion-input>
            </ion-item>
            <!--CD_RACA-->
            <ion-item lines="none">
                <ion-label position="stacked"
                           class="label-question input-label">Raça
                </ion-label>
                <ion-select formControlName="cdRaca"
                            placeholder="Selecione a raça">
                    <ng-container *ngFor="let raca of $raca | async">
                        <ion-select-option [value]="raca.id">{{raca.dsRaca}}</ion-select-option>
                    </ng-container>
                </ion-select>
            </ion-item>
            <!--IN_SEXO-->
            <ion-item lines="none">
                <ion-label position="stacked"
                           class="label-question input-label">Sexo
                </ion-label>
                <ion-select formControlName="inSexo"
                            placeholder="Selecione o sexo">
                    <ng-container *ngFor="let sexo of sexos ">
                        <ion-select-option [value]="sexo">{{sexo}}</ion-select-option>
                    </ng-container>
                </ion-select>
            </ion-item>
            <!--DT_NASCIMENTO-->
            <ion-item lines="none">
                <ion-label position="stacked"
                           class="label-question input-label">Dt. Nascimento</ion-label>
                <ion-input id="date"
                           placeholder="Selecione a data de nascimento"
                           formControlName="dtNascimento"
                           [value]="dtNascimentoEquino"
                           class="ion-text-start"
                ></ion-input>
                <ion-popover trigger="date" size="cover" side="top" alignment="center">
                    <ng-template>
                        <ion-datetime presentation="date"
                                      display-format="DD/MM/YYYY"
                                      formControlName="dtNascimento"
                                      locale="pt-BR"
                                      showDefaultButtons="true"
                                      doneText="OK"
                                      cancelText="Cancel"
                                      (ionChange)="setDtNascmentoEquino($event)">
                        </ion-datetime>
                    </ng-template>
                </ion-popover>
            </ion-item>
            <!--CD_PELAGEM_VARIEADADE-->
            <ion-item lines="none">
                <ion-label position="stacked"
                           class="label-question input-label">Pelagem variedade
                </ion-label>
                <ion-select formControlName="cdPelagemVariedade"
                            placeholder="Selecione a especie">
                    <ng-container *ngFor="let pelagemVariedade of $pelagemVariedade | async ">
                        <ion-select-option [value]="pelagemVariedade.id">
                            {{pelagemVariedade.dsVariedadePelagem}}
                        </ion-select-option>
                    </ng-container>
                </ion-select>
            </ion-item>
            <!--DS_CHIP-->
            <ion-item lines="none">
                <ion-label position="stacked"
                           class="label-question input-label">Chip
                </ion-label>
                <ion-input type="text"
                           formControlName="dsChip"
                           class="input-text">

                </ion-input>
            </ion-item>
            <!--NR_ASSOCIACAO_RACA-->
            <ion-item lines="none">
                <ion-label position="stacked"
                           class="label-question input-label">N<sup> o</sup> Associação raça
                </ion-label>
                <ion-input type="number"
                           formControlName="nrAssociacaoRaca"
                           class="input-text">
                </ion-input>
            </ion-item>
        </form>
    </ion-card-content>
</ion-card>
<ion-fab vertical="bottom"
         horizontal="end"
         slot="fixed">
    <ion-fab-button [disabled]="equinoForm.invalid"
                    (click)="validation()">
        <ion-icon name="save-outline"></ion-icon>
    </ion-fab-button>
</ion-fab>
