ion-avatar {
  width: 60px;
  height: 60px;

  img {
    border: 1px solid rgba(228, 228, 228, 0.6);
  }
}

h3 {
  font-weight: normal;
  font-size: 20px;
  line-height: 25px;
}

p {
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
}

ion-list {
  width: 100%;

  ion-item {
    --inner-padding-end: 0;
    border-bottom: 1px solid rgba(228, 228, 228, 0.6);

    ion-icon[slot="start"] {
      color: var(--ion-color-primary);
    }
  }
}
